In [1]:
import pandas
import numpy
import scipy
import seaborn
from datetime import datetime
from datetime import date
import calendar
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data1 = pandas.read_csv('pthonuberdata.csv')

In [4]:
train = data1[data1['Base']<='B02682']

In [5]:
data1.head()

       Date/Time      Lat      Lon    Base
0  7/1/2014 0:03  40.7586 -73.9706  B02512
1  7/1/2014 0:05  40.7605 -73.9994  B02512
2  7/1/2014 0:06  40.7320 -73.9999  B02512
3  7/1/2014 0:09  40.7635 -73.9793  B02512
4  7/1/2014 0:20  40.7204 -74.0047  B02512

In [6]:
data1.shape

(796121, 4)

In [7]:
train.shape

(787532, 4)

In [9]:
train.dtypes

Date/Time     object
Lat          float64
Lon          float64
Base          object
dtype: object

In [10]:
# extracting date, hour and month from the datetime
train["date"] = train.Date/Time.apply(lambda x : x.split()[0])
train["hour"] = train.datetime.apply(lambda x : x.split()[1].split(":")[0])
train["month"] = train.date.apply(lambda dateString : datetime.strptime(dateString,"%Y-%m-%d").month)

AttributeError: 'DataFrame' object has no attribute 'datetime'