In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
from datetime import date
import calendar
import matplotlib.pyplot as plt
import seaborn as sn
%matplotlib inline

In [2]:
uber1 = pd.read_csv('uber1.csv')

In [3]:
uber1.shape

(280618, 4)

In [4]:
uber1 =  uber1[uber1['datetime']<='7/31/2014 23:59']

In [5]:
uber1.shape

(238597, 4)

In [6]:
uber1.head()

        datetime      Lat      Lon    Base
0  7/1/2014 0:03  40.7586 -73.9706  B02512
1  7/1/2014 0:05  40.7605 -73.9994  B02512
2  7/1/2014 0:06  40.7320 -73.9999  B02512
3  7/1/2014 0:09  40.7635 -73.9793  B02512
4  7/1/2014 0:20  40.7204 -74.0047  B02512

In [7]:
uber1.tail()

               datetime      Lat      Lon    Base
280613  7/31/2014 23:59  40.7868 -73.9776  B02598
280614  7/31/2014 23:59  40.7282 -73.9997  B02598
280615  7/31/2014 23:59  40.7211 -73.9879  B02598
280616  7/31/2014 23:59  40.7552 -73.9251  B02598
280617  7/31/2014 23:59  40.7522 -73.9737  B02598

In [8]:
uber1.shape

(238597, 4)

In [9]:
uber1["date"] = uber1.datetime.apply(lambda x : x.split()[0])
uber1["hour"] = uber1.datetime.apply(lambda x : x.split()[1].split(":")[0])

In [10]:
uber1["date"] = uber1.date.apply(lambda dateString : datetime.strptime(dateString,"%m/%d/%Y").day)

In [11]:
uber1.head()

        datetime      Lat      Lon    Base  date hour
0  7/1/2014 0:03  40.7586 -73.9706  B02512     1    0
1  7/1/2014 0:05  40.7605 -73.9994  B02512     1    0
2  7/1/2014 0:06  40.7320 -73.9999  B02512     1    0
3  7/1/2014 0:09  40.7635 -73.9793  B02512     1    0
4  7/1/2014 0:20  40.7204 -74.0047  B02512     1    0

In [12]:
uber1['Lat'].sort_values()

11647     39.9055
11779     39.9374
11798     39.9385
11732     39.9417
28687     39.9727
11602     39.9761
28758     39.9965
27778     40.0161
19516     40.0162
19500     40.0200
27665     40.0396
11561     40.0549
28791     40.0573
19375     40.0680
10550     40.0736
20166     40.0894
252291    40.0945
11683     40.0947
10772     40.0973
20429     40.0973
11518     40.1007
20244     40.1016
11455     40.1017
27589     40.1099
28213     40.1116
27750     40.1123
239005    40.1225
239007    40.1225
28649     40.1279
20142     40.1340
           ...
32432     41.0915
264910    41.0916
137160    41.0966
253582    41.0975
43917     41.0981
250830    41.0984
231651    41.1022
19246     41.1035
29403     41.1079
107735    41.1109
257392    41.1137
109609    41.1157
165976    41.1215
43364     41.1216
25921     41.1222
125042    41.1237
178573    41.1256
21730     41.1269
204085    41.1305
29606     41.1367
257777    41.1400
274661    41.1401
191916    41.1596
273577    41.1968
204122    41.1988
50854     41.2094
230266    41.2199
28330     41.2200
273714    41.3015
273704    41.3015
Name: Lat, Length: 238597, dtype: float64

In [13]:
 uber1 = uber1.sort_values(by='Lat')

In [14]:
uber1

               datetime      Lat      Lon    Base  date hour
11647   7/12/2014 22:49  39.9055 -74.0791  B02512    12   22
11779    7/13/2014 1:21  39.9374 -74.0722  B02512    13    1
11798    7/13/2014 1:55  39.9385 -74.0734  B02512    13    1
11732    7/13/2014 0:13  39.9417 -74.0737  B02512    13    0
28687   7/26/2014 21:01  39.9727 -74.0695  B02512    26   21
11602   7/12/2014 22:05  39.9761 -74.0654  B02512    12   22
28758   7/26/2014 21:52  39.9965 -74.0641  B02512    26   21
27778   7/25/2014 23:52  40.0161 -74.0571  B02512    25   23
19516    7/19/2014 0:45  40.0162 -74.0570  B02512    19    0
19500    7/19/2014 0:24  40.0200 -74.0557  B02512    19    0
27665   7/25/2014 22:11  40.0396 -74.1709  B02512    25   22
11561   7/12/2014 21:25  40.0549 -74.0474  B02512    12   21
28791   7/26/2014 22:17  40.0573 -74.0675  B02512    26   22
19375   7/18/2014 22:19  40.0680 -74.0444  B02512    18   22
10550   7/11/2014 20:47  40.0736 -74.0552  B02512    11   20
20166   7/19/2014 19:38  40.0894 -74.0398  B02512    19   19
252291  7/28/2014 19:11  40.0945 -74.0367  B02598    28   19
11683   7/12/2014 23:18  40.0947 -74.0373  B02512    12   23
10772    7/12/2014 0:06  40.0973 -74.0879  B02512    12    0
20429    7/20/2014 0:01  40.0973 -74.0879  B02512    20    0
11518   7/12/2014 20:34  40.1007 -74.0438  B02512    12   20
20244   7/19/2014 20:57  40.1016 -74.0408  B02512    19   20
11455   7/12/2014 19:34  40.1017 -74.0406  B02512    12   19
27589   7/25/2014 21:13  40.1099 -74.0344  B02512    25   21
28213   7/26/2014 14:44  40.1116 -74.0367  B02512    26   14
27750   7/25/2014 23:23  40.1123 -74.0349  B02512    25   23
239005  7/26/2014 21:36  40.1225 -74.0495  B02598    26   21
239007  7/26/2014 21:36  40.1225 -74.0495  B02598    26   21
28649   7/26/2014 20:33  40.1279 -74.0534  B02512    26   20
20142   7/19/2014 19:13  40.1340 -74.0341  B02512    19   19
...                 ...      ...      ...     ...   ...  ...
32432    7/30/2014 8:12  41.0915 -73.9215  B02512    30    8
264910  7/30/2014 13:19  41.0916 -73.8631  B02598    30   13
137160   7/15/2014 7:44  41.0966 -73.7253  B02598    15    7
253582  7/28/2014 22:25  41.0975 -73.8098  B02598    28   22
43917     7/2/2014 9:42  41.0981 -73.8337  B02598     2    9
250830  7/28/2014 16:02  41.0984 -73.7820  B02598    28   16
231651  7/25/2014 23:24  41.1022 -73.7925  B02598    25   23
19246   7/18/2014 20:39  41.1035 -73.8294  B02512    18   20
29403   7/27/2014 17:01  41.1079 -74.0688  B02512    27   17
107735  7/11/2014 15:55  41.1109 -73.9159  B02598    11   15
257392  7/29/2014 15:06  41.1137 -73.7171  B02598    29   15
109609  7/11/2014 18:03  41.1157 -73.8057  B02598    11   18
165976   7/18/2014 7:46  41.1215 -73.7062  B02598    18    7
43364     7/2/2014 8:02  41.1216 -73.7060  B02598     2    8
25921   7/24/2014 17:13  41.1222 -73.7163  B02512    24   17
125042  7/13/2014 16:53  41.1237 -73.7154  B02598    13   16
178573  7/19/2014 18:29  41.1256 -73.6999  B02598    19   18
21730   7/21/2014 13:54  41.1269 -73.8603  B02512    21   13
204085   7/23/2014 7:11  41.1305 -73.7554  B02598    23    7
29606   7/27/2014 21:32  41.1367 -73.7777  B02512    27   21
257777  7/29/2014 15:54  41.1400 -73.8116  B02598    29   15
274661  7/31/2014 15:02  41.1401 -73.8117  B02598    31   15
191916  7/21/2014 16:59  41.1596 -73.8251  B02598    21   16
273577  7/31/2014 12:29  41.1968 -73.6694  B02598    31   12
204122   7/23/2014 7:16  41.1988 -73.6502  B02598    23    7
50854    7/2/2014 22:51  41.2094 -73.5750  B02598     2   22
230266  7/25/2014 21:01  41.2199 -73.9011  B02598    25   21
28330   7/26/2014 16:16  41.2200 -73.7238  B02512    26   16
273714  7/31/2014 12:51  41.3015 -73.6692  B02598    31   12
273704  7/31/2014 12:49  41.3015 -73.6691  B02598    31   12

[238597 rows x 6 columns]

ksnfjksdf

In [15]:
group1 = uber1[uber1['Lat']<=40.1263]

In [16]:
ubertemp = uber1

In [17]:
group1.shape

(28, 6)

In [18]:
ubertemp = ubertemp[ubertemp['Lat']>40.1263]
ubertemp.shape

(238569, 6)

In [19]:
group5 = ubertemp[ubertemp['Lat']<=40.5312]
group5.shape

(170, 6)

In [20]:
ubertemp = ubertemp[ubertemp['Lat']>40.5312]
ubertemp.shape

(238399, 6)

In [21]:
group9 = ubertemp[ubertemp['Lat']<=40.9361]
group9.shape

(237769, 6)

In [22]:
ubertemp = ubertemp[ubertemp['Lat']>40.9361]
ubertemp.shape

(630, 6)

In [23]:
group13 = ubertemp

In [24]:
grouptemp = group1
group1.shape

(28, 6)

In [25]:
grouptemp.shape

(28, 6)

In [26]:
g1 = group1[group1['Lon']<=-74.1970]

In [27]:
g1.shape

(0, 6)

In [28]:
grouptemp = grouptemp[grouptemp['Lon']>-74.1970]
grouptemp.shape

(28, 6)

In [29]:
g2 = grouptemp[grouptemp['Lon']<=-73.5680]
g2.shape

(28, 6)

In [30]:

grouptemp = grouptemp[grouptemp['Lon']>-73.5680]
grouptemp.shape

(0, 6)

In [31]:
grouptemp

Empty DataFrame
Columns: [datetime, Lat, Lon, Base, date, hour]
Index: []

In [32]:
grouptemp = group5
grouptemp.shape

(170, 6)

In [33]:
g5 = grouptemp[grouptemp['Lon']<=-74.1970]
g5.shape

(59, 6)

In [34]:
grouptemp = grouptemp[grouptemp['Lon']>-74.1970]
grouptemp.shape

(111, 6)

In [35]:
g6 = grouptemp[grouptemp['Lon']<=-73.5680]
g6.shape

(111, 6)

In [36]:
grouptemp =  grouptemp[grouptemp['Lon']>-72.9390]
grouptemp.shape

(0, 6)

In [37]:
grouptemp = group5

In [38]:
grouptemp =  grouptemp[grouptemp['Lon']>-73.5680]
grouptemp.shape

(0, 6)

In [39]:
grouptemp = group9
grouptemp.shape

(237769, 6)

In [40]:
g9 = grouptemp[grouptemp['Lon']<=-74.1970]
g9.shape

(361, 6)

In [41]:
grouptemp = grouptemp[grouptemp['Lon']>-74.1970]
grouptemp.shape

(237408, 6)

In [42]:
g10 = grouptemp[grouptemp['Lon']<=-73.5680]
g10.shape

(237072, 6)

In [43]:
grouptemp =  grouptemp[grouptemp['Lon']>-73.5680]
grouptemp.shape

(336, 6)

In [44]:
g11 = grouptemp[grouptemp['Lon']<=-72.9390]
g11.shape

(328, 6)

In [45]:
grouptemp =  grouptemp[grouptemp['Lon']>-72.9390]
grouptemp.shape

(8, 6)

In [46]:
g12 = grouptemp

In [47]:
grouptemp = group13
grouptemp.shape

(630, 6)

In [48]:
g13 = grouptemp[grouptemp['Lon']<=-74.1970]
g13.shape

(15, 6)

In [49]:
grouptemp = grouptemp[grouptemp['Lon']>-74.1970]
grouptemp.shape

(615, 6)

In [50]:
g14 = grouptemp[grouptemp['Lon']<=-73.5680]
g14.shape

(615, 6)

In [51]:
grouptemp =  grouptemp[grouptemp['Lon']>-73.5680]
grouptemp.shape

(0, 6)

In [52]:
finaluber = None

In [53]:
g2["area"] = 'g2'

In [54]:
g2

               datetime      Lat      Lon    Base  date hour area
11647   7/12/2014 22:49  39.9055 -74.0791  B02512    12   22   g2
11779    7/13/2014 1:21  39.9374 -74.0722  B02512    13    1   g2
11798    7/13/2014 1:55  39.9385 -74.0734  B02512    13    1   g2
11732    7/13/2014 0:13  39.9417 -74.0737  B02512    13    0   g2
28687   7/26/2014 21:01  39.9727 -74.0695  B02512    26   21   g2
11602   7/12/2014 22:05  39.9761 -74.0654  B02512    12   22   g2
28758   7/26/2014 21:52  39.9965 -74.0641  B02512    26   21   g2
27778   7/25/2014 23:52  40.0161 -74.0571  B02512    25   23   g2
19516    7/19/2014 0:45  40.0162 -74.0570  B02512    19    0   g2
19500    7/19/2014 0:24  40.0200 -74.0557  B02512    19    0   g2
27665   7/25/2014 22:11  40.0396 -74.1709  B02512    25   22   g2
11561   7/12/2014 21:25  40.0549 -74.0474  B02512    12   21   g2
28791   7/26/2014 22:17  40.0573 -74.0675  B02512    26   22   g2
19375   7/18/2014 22:19  40.0680 -74.0444  B02512    18   22   g2
10550   7/11/2014 20:47  40.0736 -74.0552  B02512    11   20   g2
20166   7/19/2014 19:38  40.0894 -74.0398  B02512    19   19   g2
252291  7/28/2014 19:11  40.0945 -74.0367  B02598    28   19   g2
11683   7/12/2014 23:18  40.0947 -74.0373  B02512    12   23   g2
10772    7/12/2014 0:06  40.0973 -74.0879  B02512    12    0   g2
20429    7/20/2014 0:01  40.0973 -74.0879  B02512    20    0   g2
11518   7/12/2014 20:34  40.1007 -74.0438  B02512    12   20   g2
20244   7/19/2014 20:57  40.1016 -74.0408  B02512    19   20   g2
11455   7/12/2014 19:34  40.1017 -74.0406  B02512    12   19   g2
27589   7/25/2014 21:13  40.1099 -74.0344  B02512    25   21   g2
28213   7/26/2014 14:44  40.1116 -74.0367  B02512    26   14   g2
27750   7/25/2014 23:23  40.1123 -74.0349  B02512    25   23   g2
239005  7/26/2014 21:36  40.1225 -74.0495  B02598    26   21   g2
239007  7/26/2014 21:36  40.1225 -74.0495  B02598    26   21   g2

In [55]:
g5["area"] = 'g5'

C:\Users\Udbhav\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [56]:
g6["area"] = 'g6'

In [57]:
g9["area"] = 'g9'

C:\Users\Udbhav\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [58]:
g10["area"] = 'g10'

In [59]:
g11["area"] = 'g11'

In [60]:
g12["area"] = 'g12'

In [61]:
g13["area"] = 'g13'

C:\Users\Udbhav\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [62]:
g14["area"] = 'g14'

In [63]:
finaluber

In [64]:
finaluber = g2

In [65]:
finaluber = finaluber.append(g5)

In [66]:
finaluber = finaluber.append(g6)

In [67]:
finaluber = finaluber.append(g9)

In [68]:
finaluber = finaluber.append(g10)

In [69]:
finaluber = finaluber.append(g11)

In [70]:
finaluber = finaluber.append(g12)

In [71]:
finaluber = finaluber.append(g13)

In [72]:
finaluber = finaluber.append(g14)

In [73]:
finaluber.head()

              datetime      Lat      Lon    Base  date hour area
11647  7/12/2014 22:49  39.9055 -74.0791  B02512    12   22   g2
11779   7/13/2014 1:21  39.9374 -74.0722  B02512    13    1   g2
11798   7/13/2014 1:55  39.9385 -74.0734  B02512    13    1   g2
11732   7/13/2014 0:13  39.9417 -74.0737  B02512    13    0   g2
28687  7/26/2014 21:01  39.9727 -74.0695  B02512    26   21   g2

In [74]:
finaluber.corr()

           Lat       Lon      date
Lat   1.000000  0.045162 -0.010434
Lon   0.045162  1.000000  0.018339
date -0.010434  0.018339  1.000000

In [75]:
finaluber.head()

              datetime      Lat      Lon    Base  date hour area
11647  7/12/2014 22:49  39.9055 -74.0791  B02512    12   22   g2
11779   7/13/2014 1:21  39.9374 -74.0722  B02512    13    1   g2
11798   7/13/2014 1:55  39.9385 -74.0734  B02512    13    1   g2
11732   7/13/2014 0:13  39.9417 -74.0737  B02512    13    0   g2
28687  7/26/2014 21:01  39.9727 -74.0695  B02512    26   21   g2

In [76]:
finaluber = finaluber.drop(['datetime', 'Lat','Lon'], axis=1)

In [77]:
finaluber.shape

(238597, 4)

In [78]:
finaluber.head()

         Base  date hour area
11647  B02512    12   22   g2
11779  B02512    13    1   g2
11798  B02512    13    1   g2
11732  B02512    13    0   g2
28687  B02512    26   21   g2

In [79]:
g2 = g2.sort_values(by='hour')

In [80]:
g2

               datetime      Lat      Lon    Base  date hour area
19500    7/19/2014 0:24  40.0200 -74.0557  B02512    19    0   g2
10772    7/12/2014 0:06  40.0973 -74.0879  B02512    12    0   g2
19516    7/19/2014 0:45  40.0162 -74.0570  B02512    19    0   g2
20429    7/20/2014 0:01  40.0973 -74.0879  B02512    20    0   g2
11732    7/13/2014 0:13  39.9417 -74.0737  B02512    13    0   g2
11798    7/13/2014 1:55  39.9385 -74.0734  B02512    13    1   g2
11779    7/13/2014 1:21  39.9374 -74.0722  B02512    13    1   g2
28213   7/26/2014 14:44  40.1116 -74.0367  B02512    26   14   g2
11455   7/12/2014 19:34  40.1017 -74.0406  B02512    12   19   g2
20166   7/19/2014 19:38  40.0894 -74.0398  B02512    19   19   g2
252291  7/28/2014 19:11  40.0945 -74.0367  B02598    28   19   g2
20244   7/19/2014 20:57  40.1016 -74.0408  B02512    19   20   g2
10550   7/11/2014 20:47  40.0736 -74.0552  B02512    11   20   g2
11518   7/12/2014 20:34  40.1007 -74.0438  B02512    12   20   g2
28687   7/26/2014 21:01  39.9727 -74.0695  B02512    26   21   g2
28758   7/26/2014 21:52  39.9965 -74.0641  B02512    26   21   g2
27589   7/25/2014 21:13  40.1099 -74.0344  B02512    25   21   g2
11561   7/12/2014 21:25  40.0549 -74.0474  B02512    12   21   g2
239005  7/26/2014 21:36  40.1225 -74.0495  B02598    26   21   g2
239007  7/26/2014 21:36  40.1225 -74.0495  B02598    26   21   g2
11647   7/12/2014 22:49  39.9055 -74.0791  B02512    12   22   g2
28791   7/26/2014 22:17  40.0573 -74.0675  B02512    26   22   g2
27665   7/25/2014 22:11  40.0396 -74.1709  B02512    25   22   g2
11602   7/12/2014 22:05  39.9761 -74.0654  B02512    12   22   g2
19375   7/18/2014 22:19  40.0680 -74.0444  B02512    18   22   g2
27778   7/25/2014 23:52  40.0161 -74.0571  B02512    25   23   g2
27750   7/25/2014 23:23  40.1123 -74.0349  B02512    25   23   g2
11683   7/12/2014 23:18  40.0947 -74.0373  B02512    12   23   g2

In [81]:
g2 = g2.drop(columns=['Base','date','datetime', 'Lat','Lon'])

In [82]:
g2.head()

      hour area
19500    0   g2
10772    0   g2
19516    0   g2
20429    0   g2
11732    0   g2

In [83]:
g2.head()

      hour area
19500    0   g2
10772    0   g2
19516    0   g2
20429    0   g2
11732    0   g2

In [84]:
g2.dtypes

hour    object
area    object
dtype: object

In [85]:
type(g2['hour'])

pandas.core.series.Series

In [86]:
g2['hour'] = g2['hour'].astype('int64')

In [87]:
type(g2['hour'])

pandas.core.series.Series

In [88]:
g2h0 = g2[g2['hour']==0].count()

In [89]:
g2h0

hour    5
area    5
dtype: int64

In [90]:
g2h0a = g2h0['hour']

In [91]:
g2h0a

5

In [92]:
g5 = g5.drop(columns=['Base','date','datetime', 'Lat','Lon'])

In [93]:
g5['hour'] = g5['hour'].astype('int64')

In [94]:
g2h1 = g2[g2['hour']==1].count()

In [95]:
g2h2 = g2[g2['hour']==2].count()

In [96]:
g2h3 = g2[g2['hour']==3].count()
g2h4 = g2[g2['hour']==4].count()
g2h5 = g2[g2['hour']==5].count()
g2h6 = g2[g2['hour']==6].count()
g2h7 = g2[g2['hour']==7].count()
g2h8 = g2[g2['hour']==8].count()
g2h9 = g2[g2['hour']==9].count()
g2h10 = g2[g2['hour']==10].count()
g2h11 = g2[g2['hour']==11].count()
g2h12 = g2[g2['hour']==12].count()
g2h13 = g2[g2['hour']==13].count()
g2h14 = g2[g2['hour']==14].count()
g2h15 = g2[g2['hour']==15].count()
g2h16 = g2[g2['hour']==16].count()
g2h17 = g2[g2['hour']==17].count()
g2h18 = g2[g2['hour']==18].count()
g2h19 = g2[g2['hour']==19].count()
g2h20 = g2[g2['hour']==20].count()
g2h21 = g2[g2['hour']==21].count()
g2h22 = g2[g2['hour']==22].count()
g2h23 = g2[g2['hour']==23].count()
g2h24 = g2[g2['hour']==24].count()

In [97]:
g5h0 = g5[g5['hour']==3].count()
g5h1 = g5[g5['hour']==3].count()
g5h2 = g5[g5['hour']==3].count()
g5h3 = g5[g5['hour']==3].count()
g5h4 = g5[g5['hour']==4].count()
g5h5 = g5[g5['hour']==5].count()
g5h6 = g5[g5['hour']==6].count()
g5h7 = g5[g5['hour']==7].count()
g5h8 = g5[g5['hour']==8].count()
g5h9 = g5[g5['hour']==9].count()
g5h10 = g5[g5['hour']==10].count()
g5h11 = g5[g5['hour']==11].count()
g5h12 = g5[g5['hour']==12].count()
g5h13 = g5[g5['hour']==13].count()
g5h14 = g5[g5['hour']==14].count()
g5h15 = g5[g5['hour']==15].count()
g5h16 = g5[g5['hour']==16].count()
g5h17 = g5[g5['hour']==17].count()
g5h18 = g5[g5['hour']==18].count()
g5h19 = g5[g5['hour']==19].count()
g5h20 = g5[g5['hour']==20].count()
g5h21 = g5[g5['hour']==21].count()
g5h22 = g5[g5['hour']==22].count()
g5h23 = g5[g5['hour']==23].count()
g5h24 = g5[g5['hour']==24].count()

In [98]:
g6 = g6.drop(columns=['Base','date','datetime', 'Lat','Lon'])

In [99]:
g6h0 = g6[g6['hour']==0].count()
g6h1 = g6[g6['hour']==1].count()
g6h2 = g6[g6['hour']==2].count()
g6h3 = g6[g6['hour']==3].count()
g6h4 = g6[g6['hour']==4].count()
g6h5 = g6[g6['hour']==5].count()
g6h6 = g6[g6['hour']==6].count()
g6h7 = g6[g6['hour']==7].count()
g6h8 = g6[g6['hour']==8].count()
g6h9 = g6[g6['hour']==9].count()
g6h10 = g6[g6['hour']==10].count()
g6h11 = g6[g6['hour']==11].count()
g6h12 = g6[g6['hour']==12].count()
g6h13 = g6[g6['hour']==13].count()
g6h14 = g6[g6['hour']==14].count()
g6h15 = g6[g6['hour']==15].count()
g6h16 = g6[g6['hour']==16].count()
g6h17 = g6[g6['hour']==17].count()
g6h18 = g6[g6['hour']==18].count()
g6h19 = g6[g6['hour']==19].count()
g6h20 = g6[g6['hour']==20].count()
g6h21 = g6[g6['hour']==21].count()
g6h22 = g6[g6['hour']==22].count()
g6h23 = g6[g6['hour']==23].count()
g6h24 = g6[g6['hour']==24].count()

In [100]:
g9 = g9.drop(columns=['Base','date','datetime', 'Lat','Lon'])

In [101]:
g9h0 = g9[g9['hour']==0].count()
g9h1 = g9[g9['hour']==1].count()
g9h2 = g9[g9['hour']==2].count()
g9h3 = g9[g9['hour']==3].count()
g9h4 = g9[g9['hour']==4].count()
g9h5 = g9[g9['hour']==5].count()
g9h6 = g9[g9['hour']==6].count()
g9h7 = g9[g9['hour']==7].count()
g9h8 = g9[g9['hour']==8].count()
g9h9 = g9[g9['hour']==9].count()
g9h10 = g9[g9['hour']==10].count()
g9h11 = g9[g9['hour']==11].count()
g9h12 = g9[g9['hour']==12].count()
g9h13 = g9[g9['hour']==13].count()
g9h14 = g9[g9['hour']==14].count()
g9h15 = g9[g9['hour']==15].count()
g9h16 = g9[g9['hour']==16].count()
g9h17 = g9[g9['hour']==17].count()
g9h18 = g9[g9['hour']==18].count()
g9h19 = g9[g9['hour']==19].count()
g9h20 = g9[g9['hour']==20].count()
g9h21 = g9[g9['hour']==21].count()
g9h22 = g9[g9['hour']==22].count()
g9h23 = g9[g9['hour']==23].count()
g9h24 = g9[g9['hour']==24].count()

In [102]:
g10 = g10.drop(columns=['Base','date','datetime', 'Lat','Lon'])

In [103]:
g10h0 = g10[g10['hour']==0].count()
g10h1 = g10[g10['hour']==1].count()
g10h2 = g10[g10['hour']==2].count()
g10h3 = g10[g10['hour']==3].count()
g10h4 = g10[g10['hour']==4].count()
g10h5 = g10[g10['hour']==5].count()
g10h6 = g10[g10['hour']==6].count()
g10h7 = g10[g10['hour']==7].count()
g10h8 = g10[g10['hour']==8].count()
g10h9 = g10[g10['hour']==9].count()
g10h10 = g10[g10['hour']==10].count()
g10h11 = g10[g10['hour']==11].count()
g10h12 = g10[g10['hour']==12].count()
g10h13 = g10[g10['hour']==13].count()
g10h14 = g10[g10['hour']==14].count()
g10h15 = g10[g10['hour']==15].count()
g10h16 = g10[g10['hour']==16].count()
g10h17 = g10[g10['hour']==17].count()
g10h18 = g10[g10['hour']==18].count()
g10h19 = g10[g10['hour']==19].count()
g10h20 = g10[g10['hour']==20].count()
g10h21 = g10[g10['hour']==21].count()
g10h22 = g10[g10['hour']==22].count()
g10h23 = g10[g10['hour']==23].count()
g10h24 = g10[g10['hour']==24].count()

In [104]:
g11 = g11.drop(columns=['Base','date','datetime', 'Lat','Lon'])

In [105]:
g11h0 = g11[g11['hour']==0].count()
g11h1 = g11[g11['hour']==1].count()
g11h2 = g11[g11['hour']==2].count()
g11h3 = g11[g11['hour']==3].count()
g11h4 = g11[g11['hour']==4].count()
g11h5 = g11[g11['hour']==5].count()
g11h6 = g11[g11['hour']==6].count()
g11h7 = g11[g11['hour']==7].count()
g11h8 = g11[g11['hour']==8].count()
g11h9 = g11[g11['hour']==9].count()
g11h10 = g11[g11['hour']==10].count()
g11h11 = g11[g11['hour']==11].count()
g11h12 = g11[g11['hour']==12].count()
g11h13 = g11[g11['hour']==13].count()
g11h14 = g11[g11['hour']==14].count()
g11h15 = g11[g11['hour']==15].count()
g11h16 = g11[g11['hour']==16].count()
g11h17 = g11[g11['hour']==17].count()
g11h18 = g11[g11['hour']==18].count()
g11h19 = g11[g11['hour']==19].count()
g11h20 = g11[g11['hour']==20].count()
g11h21 = g11[g11['hour']==21].count()
g11h22 = g11[g11['hour']==22].count()
g11h23 = g11[g11['hour']==23].count()
g11h24 = g11[g11['hour']==24].count()

In [106]:
g12 = g12.drop(columns=['Base','date','datetime', 'Lat','Lon'])

In [107]:
g12h0 = g12[g12['hour']==0].count()
g12h1 = g12[g12['hour']==1].count()
g12h2 = g12[g12['hour']==2].count()
g12h3 = g12[g12['hour']==3].count()
g12h4 = g12[g12['hour']==4].count()
g12h5 = g12[g12['hour']==5].count()
g12h6 = g12[g12['hour']==6].count()
g12h7 = g12[g12['hour']==7].count()
g12h8 = g12[g12['hour']==8].count()
g12h9 = g12[g12['hour']==9].count()
g12h10 = g12[g12['hour']==10].count()
g12h11 = g12[g12['hour']==11].count()
g12h12 = g12[g12['hour']==12].count()
g12h13 = g12[g12['hour']==13].count()
g12h14 = g12[g12['hour']==14].count()
g12h15 = g12[g12['hour']==15].count()
g12h16 = g12[g12['hour']==16].count()
g12h17 = g12[g12['hour']==17].count()
g12h18 = g12[g12['hour']==18].count()
g12h19 = g12[g12['hour']==19].count()
g12h20 = g12[g12['hour']==20].count()
g12h21 = g12[g12['hour']==21].count()
g12h22 = g12[g12['hour']==22].count()
g12h23 = g12[g12['hour']==23].count()
g12h24 = g12[g12['hour']==24].count()

In [108]:
g13 = g13.drop(columns=['Base','date','datetime', 'Lat','Lon'])

In [109]:
g13h0 = g13[g13['hour']==0].count()
g13h1 = g13[g13['hour']==1].count()
g13h2 = g13[g13['hour']==2].count()
g13h3 = g13[g13['hour']==3].count()
g13h4 = g13[g13['hour']==4].count()
g13h5 = g13[g13['hour']==5].count()
g13h6 = g13[g13['hour']==6].count()
g13h7 = g13[g13['hour']==7].count()
g13h8 = g13[g13['hour']==8].count()
g13h9 = g13[g13['hour']==9].count()
g13h10 = g13[g13['hour']==10].count()
g13h11 = g13[g13['hour']==11].count()
g13h12 = g13[g13['hour']==12].count()
g13h13 = g13[g13['hour']==13].count()
g13h14 = g13[g13['hour']==14].count()
g13h15 = g13[g13['hour']==15].count()
g13h16 = g13[g13['hour']==16].count()
g13h17 = g13[g13['hour']==17].count()
g13h18 = g13[g13['hour']==18].count()
g13h19 = g13[g13['hour']==19].count()
g13h20 = g13[g13['hour']==20].count()
g13h21 = g13[g13['hour']==21].count()
g13h22 = g13[g13['hour']==22].count()
g13h23 = g13[g13['hour']==23].count()
g13h24 = g13[g13['hour']==24].count()

In [110]:
g14 = g14.drop(columns=['Base','date','datetime', 'Lat','Lon'])

In [111]:
g14h0 = g14[g14['hour']==0].count()
g14h1 = g14[g14['hour']==1].count()
g14h2 = g14[g14['hour']==2].count()
g14h3 = g14[g14['hour']==3].count()
g14h4 = g14[g14['hour']==4].count()
g14h5 = g14[g14['hour']==5].count()
g14h6 = g14[g14['hour']==6].count()
g14h7 = g14[g14['hour']==7].count()
g14h8 = g14[g14['hour']==8].count()
g14h9 = g14[g14['hour']==9].count()
g14h10 = g14[g14['hour']==10].count()
g14h11 = g14[g14['hour']==11].count()
g14h12 = g14[g14['hour']==12].count()
g14h13 = g14[g14['hour']==13].count()
g14h14 = g14[g14['hour']==14].count()
g14h15 = g14[g14['hour']==15].count()
g14h16 = g14[g14['hour']==16].count()
g14h17 = g14[g14['hour']==17].count()
g14h18 = g14[g14['hour']==18].count()
g14h19 = g14[g14['hour']==19].count()
g14h20 = g14[g14['hour']==20].count()
g14h21 = g14[g14['hour']==21].count()
g14h22 = g14[g14['hour']==22].count()
g14h23 = g14[g14['hour']==23].count()
g14h24 = g14[g14['hour']==24].count()

In [112]:
g14h30

NameError: name 'g14h30' is not defined

In [113]:
g2h1a = g2h1['hour']
g2h2a = g2h2['hour']
g2h3a = g2h3['hour']
g2h4a = g2h4['hour']
g2h5a = g2h5['hour']
g2h6a = g2h6['hour']
g2h7a = g2h7['hour']
g2h8a = g2h8['hour']
g2h9a = g2h9['hour']
g2h10a = g2h10['hour']
g2h11a = g2h11['hour']
g2h12a = g2h12['hour']
g2h13a = g2h13['hour']
g2h14a = g2h14['hour']
g2h15a = g2h15['hour']
g2h16a = g2h16['hour']
g2h17a = g2h17['hour']
g2h18a = g2h18['hour']
g2h19a = g2h19['hour']
g2h20a = g2h20['hour']
g2h21a = g2h21['hour']
g2h22a = g2h22['hour']
g2h23a = g2h23['hour']
g2h24a = g2h24['hour']

In [114]:
g5h0a = g5h0['hour']
g5h1a = g5h1['hour']
g5h2a = g5h2['hour']
g5h3a = g5h3['hour']
g5h4a = g5h4['hour']
g5h5a = g5h5['hour']
g5h6a = g5h6['hour']
g5h7a = g5h7['hour']
g5h8a = g5h8['hour']
g5h9a = g5h9['hour']
g5h10a = g5h10['hour']
g5h11a = g5h11['hour']
g5h12a = g5h12['hour']
g5h13a = g5h13['hour']
g5h14a = g5h14['hour']
g5h15a = g5h15['hour']
g5h16a = g5h16['hour']
g5h17a = g5h17['hour']
g5h18a = g5h18['hour']
g5h19a = g5h19['hour']
g5h20a = g5h20['hour']
g5h21a = g5h21['hour']
g5h22a = g5h22['hour']
g5h23a = g5h23['hour']
g5h24a = g5h24['hour']

In [115]:
g6h0a = g6h0['hour']
g6h1a = g6h1['hour']
g6h2a = g6h2['hour']
g6h3a = g6h3['hour']
g6h4a = g6h4['hour']
g6h5a = g6h5['hour']
g6h6a = g6h6['hour']
g6h7a = g6h7['hour']
g6h8a = g6h8['hour']
g6h9a = g6h9['hour']
g6h10a = g6h10['hour']
g6h11a = g6h11['hour']
g6h12a = g6h12['hour']
g6h13a = g6h13['hour']
g6h14a = g6h14['hour']
g6h15a = g6h15['hour']
g6h16a = g6h16['hour']
g6h17a = g6h17['hour']
g6h18a = g6h18['hour']
g6h19a = g6h19['hour']
g6h20a = g6h20['hour']
g6h21a = g6h21['hour']
g6h22a = g6h22['hour']
g6h23a = g6h23['hour']
g6h24a = g6h24['hour']

In [116]:
g9h0a = g9h0['hour']
g9h1a = g9h1['hour']
g9h2a = g9h2['hour']
g9h3a = g9h3['hour']
g9h4a = g9h4['hour']
g9h5a = g9h5['hour']
g9h6a = g9h6['hour']
g9h7a = g9h7['hour']
g9h8a = g9h8['hour']
g9h9a = g9h9['hour']
g9h10a = g9h10['hour']
g9h11a = g9h11['hour']
g9h12a = g9h12['hour']
g9h13a = g9h13['hour']
g9h14a = g9h14['hour']
g9h15a = g9h15['hour']
g9h16a = g9h16['hour']
g9h17a = g9h17['hour']
g9h18a = g9h18['hour']
g9h19a = g9h19['hour']
g9h20a = g9h20['hour']
g9h21a = g9h21['hour']
g9h22a = g9h22['hour']
g9h23a = g9h23['hour']
g9h24a = g9h24['hour']

In [117]:
g10h0a = g10h0['hour']
g10h1a = g10h1['hour']
g10h2a = g10h2['hour']
g10h3a = g10h3['hour']
g10h4a = g10h4['hour']
g10h5a = g10h5['hour']
g10h6a = g10h6['hour']
g10h7a = g10h7['hour']
g10h8a = g10h8['hour']
g10h9a = g10h9['hour']
g10h10a = g10h10['hour']
g10h11a = g10h11['hour']
g10h12a = g10h12['hour']
g10h13a = g10h13['hour']
g10h14a = g10h14['hour']
g10h15a = g10h15['hour']
g10h16a = g10h16['hour']
g10h17a = g10h17['hour']
g10h18a = g10h18['hour']
g10h19a = g10h19['hour']
g10h20a = g10h20['hour']
g10h21a = g10h21['hour']
g10h22a = g10h22['hour']
g10h23a = g10h23['hour']
g10h24a = g10h24['hour']

In [118]:
g11h0a = g11h0['hour']
g11h1a = g11h1['hour']
g11h2a = g11h2['hour']
g11h3a = g11h3['hour']
g11h4a = g11h4['hour']
g11h5a = g11h5['hour']
g11h6a = g11h6['hour']
g11h7a = g11h7['hour']
g11h8a = g11h8['hour']
g11h9a = g11h9['hour']
g11h10a = g11h10['hour']
g11h11a = g11h11['hour']
g11h12a = g11h12['hour']
g11h13a = g11h13['hour']
g11h14a = g11h14['hour']
g11h15a = g11h15['hour']
g11h16a = g11h16['hour']
g11h17a = g11h17['hour']
g11h18a = g11h18['hour']
g11h19a = g11h19['hour']
g11h20a = g11h20['hour']
g11h21a = g11h21['hour']
g11h22a = g11h22['hour']
g11h23a = g11h23['hour']
g11h24a = g11h24['hour']

In [119]:
g12h0a = g12h0['hour']
g12h1a = g12h1['hour']
g12h2a = g12h2['hour']
g12h3a = g12h3['hour']
g12h4a = g12h4['hour']
g12h5a = g12h5['hour']
g12h6a = g12h6['hour']
g12h7a = g12h7['hour']
g12h8a = g12h8['hour']
g12h9a = g12h9['hour']
g12h10a = g12h10['hour']
g12h11a = g12h11['hour']
g12h12a = g12h12['hour']
g12h13a = g12h13['hour']
g12h14a = g12h14['hour']
g12h15a = g12h15['hour']
g12h16a = g12h16['hour']
g12h17a = g12h17['hour']
g12h18a = g12h18['hour']
g12h19a = g12h19['hour']
g12h20a = g12h20['hour']
g12h21a = g12h21['hour']
g12h22a = g12h22['hour']
g12h23a = g12h23['hour']
g12h24a = g12h24['hour']

In [120]:
g13h0a = g13h0['hour']
g13h1a = g13h1['hour']
g13h2a = g13h2['hour']
g13h3a = g13h3['hour']
g13h4a = g13h4['hour']
g13h5a = g13h5['hour']
g13h6a = g13h6['hour']
g13h7a = g13h7['hour']
g13h8a = g13h8['hour']
g13h9a = g13h9['hour']
g13h10a = g13h10['hour']
g13h11a = g13h11['hour']
g13h12a = g13h12['hour']
g13h13a = g13h13['hour']
g13h14a = g13h14['hour']
g13h15a = g13h15['hour']
g13h16a = g13h16['hour']
g13h17a = g13h17['hour']
g13h18a = g13h18['hour']
g13h19a = g13h19['hour']
g13h20a = g13h20['hour']
g13h21a = g13h21['hour']
g13h22a = g13h22['hour']
g13h23a = g13h23['hour']
g13h24a = g13h24['hour']

In [121]:
g14h0a = g14h0['hour']
g14h1a = g14h1['hour']
g14h2a = g14h2['hour']
g14h3a = g14h3['hour']
g14h4a = g14h4['hour']
g14h5a = g14h5['hour']
g14h6a = g14h6['hour']
g14h7a = g14h7['hour']
g14h8a = g14h8['hour']
g14h9a = g14h9['hour']
g14h10a = g14h10['hour']
g14h11a = g14h11['hour']
g14h12a = g14h12['hour']
g14h13a = g14h13['hour']
g14h14a = g14h14['hour']
g14h15a = g14h15['hour']
g14h16a = g14h16['hour']
g14h17a = g14h17['hour']
g14h18a = g14h18['hour']
g14h19a = g14h19['hour']
g14h20a = g14h20['hour']
g14h21a = g14h21['hour']
g14h22a = g14h22['hour']
g14h23a = g14h23['hour']
g14h24a = g14h24['hour']

In [122]:
finaldata = [g2h0a,g2h1a,g2h2a,g2h3a,g2h4a,g2h5a,g2h6a,g2h7a,g2h8a,g2h9a,g2h10a,g2h11a,g2h12a,g2h13a,g2h14a,g2h15a,g2h16a,g2h17a,g2h18a,g2h19a,g2h20a,g2h21a,g2h22a,g2h23a,g2h24a]

In [123]:
newdata = pd.DataFrame(data=finaldata)

In [124]:
newdata

    0
0   5
1   2
2   0
3   0
4   0
5   0
6   0
7   0
8   0
9   0
10  0
11  0
12  0
13  0
14  1
15  0
16  0
17  0
18  0
19  3
20  3
21  6
22  5
23  3
24  0

In [125]:
newdata["area"] = 2

In [126]:
newdata.head()

   0  area
0  5     2
1  2     2
2  0     2
3  0     2
4  0     2

In [127]:
newdata["hour"]=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]

In [128]:
newdata.head()

   0  area  hour
0  5     2     0
1  2     2     1
2  0     2     2
3  0     2     3
4  0     2     4

In [129]:
fdata5  = [g5h0a,g5h1a,g5h2a,g5h3a,g5h4a,g5h5a,g5h6a,g5h7a,g5h8a,g5h9a,g5h10a,g5h11a,g5h12a,g5h13a,g5h14a,g5h15a,g5h16a,g5h17a,g5h18a,g5h19a,g5h20a,g5h21a,g5h22a,g5h23a,g5h24a]

In [130]:
newdata5 = pd.DataFrame(data=fdata5)

In [131]:
newdata5["area"] = 5
newdata5["hour"]=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]

In [132]:
newdata5.head()

   0  area  hour
0  0     5     0
1  0     5     1
2  0     5     2
3  0     5     3
4  3     5     4

In [133]:
fdata6  = [g6h0a,g6h1a,g6h2a,g6h3a,g6h4a,g6h5a,g6h6a,g6h7a,g6h8a,g6h9a,g6h10a,g6h11a,g6h12a,g6h13a,g6h14a,g6h15a,g6h16a,g6h17a,g6h18a,g6h19a,g6h20a,g6h21a,g6h22a,g6h23a,g6h24a]

In [134]:
newdata6 = pd.DataFrame(data=fdata6)

In [135]:
newdata6["area"] = 6
newdata6["hour"]=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]

In [136]:
newdata5.head()

   0  area  hour
0  0     5     0
1  0     5     1
2  0     5     2
3  0     5     3
4  3     5     4

In [137]:
newdata.head()

   0  area  hour
0  5     2     0
1  2     2     1
2  0     2     2
3  0     2     3
4  0     2     4

In [138]:
newdata6.head()

   0  area  hour
0  0     6     0
1  0     6     1
2  0     6     2
3  0     6     3
4  0     6     4

In [139]:
fdata9  = [g9h0a,g9h1a,g9h2a,g9h3a,g9h4a,g9h5a,g9h6a,g9h7a,g9h8a,g9h9a,g9h10a,g9h11a,g9h12a,g9h13a,g9h14a,g9h15a,g9h16a,g9h17a,g9h18a,g9h19a,g9h20a,g9h21a,g9h22a,g9h23a,g9h24a]

In [140]:
newdata9 = pd.DataFrame(data=fdata9)

In [141]:
newdata9["area"] = 9
newdata9["hour"]=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]

In [142]:
fdata10  = [g10h0a,g10h1a,g10h2a,g10h3a,g10h4a,g10h5a,g10h6a,g10h7a,g10h8a,g10h9a,g10h10a,g10h11a,g10h12a,g10h13a,g10h14a,g10h15a,g10h16a,g10h17a,g10h18a,g10h19a,g10h20a,g10h21a,g10h22a,g10h23a,g10h24a]

In [143]:
newdata10 = pd.DataFrame(data=fdata10)

In [144]:
newdata10["area"] = 10
newdata10["hour"]=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]

In [145]:
fdata11  = [g11h0a,g11h1a,g11h2a,g11h3a,g11h4a,g11h5a,g11h6a,g11h7a,g11h8a,g11h9a,g11h10a,g11h11a,g11h12a,g11h13a,g11h14a,g11h15a,g11h16a,g11h17a,g11h18a,g11h19a,g11h20a,g11h21a,g11h22a,g11h23a,g11h24a]

In [146]:
newdata11 = pd.DataFrame(data=fdata11)

In [147]:
newdata11["area"] = 11
newdata11["hour"]=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]

In [148]:
fdata12  = [g12h0a,g12h1a,g12h2a,g12h3a,g12h4a,g12h5a,g12h6a,g12h7a,g12h8a,g12h9a,g12h10a,g12h11a,g12h12a,g12h13a,g12h14a,g12h15a,g12h16a,g12h17a,g12h18a,g12h19a,g12h20a,g12h21a,g12h22a,g12h23a,g12h24a]

In [149]:
newdata12 = pd.DataFrame(data=fdata12)

In [150]:
newdata12["area"] = 12
newdata12["hour"]=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]

In [151]:
fdata13  = [g13h0a,g13h1a,g13h2a,g13h3a,g13h4a,g13h5a,g13h6a,g13h7a,g13h8a,g13h9a,g13h10a,g13h11a,g13h12a,g13h13a,g13h14a,g13h15a,g13h16a,g13h17a,g13h18a,g13h19a,g13h20a,g13h21a,g13h22a,g13h23a,g13h24a]

In [152]:
newdata13 = pd.DataFrame(data=fdata13)

In [153]:
newdata13["area"] = 13
newdata13["hour"]=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]

In [154]:
fdata14  = [g14h0a,g14h1a,g14h2a,g14h3a,g14h4a,g14h5a,g14h6a,g14h7a,g14h8a,g14h9a,g14h10a,g14h11a,g14h12a,g14h13a,g14h14a,g14h15a,g14h16a,g14h17a,g14h18a,g14h19a,g14h20a,g14h21a,g14h22a,g14h23a,g14h24a]

In [155]:
newdata14 = pd.DataFrame(data=fdata14)

In [156]:
newdata14["area"] = 14
newdata14["hour"]=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]

In [160]:
ftrainingdata = newdata

In [162]:
ftrainingdata = ftrainingdata.append(newdata5)

In [163]:
ftrainingdata = ftrainingdata.append(newdata6)

In [164]:
ftrainingdata = ftrainingdata.append(newdata9)

In [165]:
ftrainingdata = ftrainingdata.append(newdata10)

In [166]:
ftrainingdata = ftrainingdata.append(newdata11)

In [167]:
ftrainingdata = ftrainingdata.append(newdata12)

In [168]:
ftrainingdata = ftrainingdata.append(newdata13)

In [169]:
ftrainingdata = ftrainingdata.append(newdata14)